@charset "UTF-8";


.title_banner_top{
    text-align: center;
}
.top-title {
    color: #ffeeee;
    font-size: 36px;
}

.button{
	box-sizing: border-box;

	position: relative;
	width: 138px;
	height: 55px;
	
	background: #E3750F;
	border: 1px solid #000000;
	border-radius: 10px;
}

.B1{
	box-sizing: border-box;

	width: 200px;
	height: 70px;
		
	background: #E3750F;
	border: 1px solid #000000;
	border-radius: 10px;
	font-size: 35px;
}

.txt{
	display: inline-block;
	width: 100%;
	padding: 0.5em;
	
}

.page{
	 text-align:center;
}

.comment{
	box-sizing: border-box;

	width: 600px;
	height: 300px;
	left: 15px;
	top: 1253px;
	
	background: #FFFFFF;
	border: 1px solid #000000;
	
}


.tag_button{
	box-sizing: border-box;
	
	width: 200px;
	height: 70px;
	
	background: #E3750F;
	border: 1px solid #000000;
	border-radius: 10px;
}

.tag{
	padding-top: 20p;
	padding-bottom: 80px;
	color: white;
}

.kana_box{
	text-align: center;
}

.name_input_box{
	text-align: center;
}

.kana{
	width: 500px
}

.name_input{
	width: 500px
}

body{
	margin: auto;
    background-size: cover;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 812px;/* ページによって変更 */
    background-color: rgba(36,36,36,0.8);
}

.shop_name{
	color: white;
}

.shop_img{
	color: white;
}

.locate{
	color: white;
}

.star{
	color: white;
}

.come{
	color: white;
}

.location{
	width: 500px;
}


#previewImage{
	margin: auto;
	width: 96px;
	height: 65px;
}