@charset "UTF-8";


.title_banner_top{
    text-align: center;
}
.top-title {
    color: #ffeeee;
    font-size: 36px;
}

.button{
	box-sizing: border-box;

	position: relative;
	width: 138px;
	height: 55px;
	
	background: #E3750F;
	border: 1px solid #000000;
	border-radius: 10px;
}

.B1{
	box-sizing: border-box;

	position: relative;
	width: 138px;
	height: 55px;
	
	background: #E3750F;
	border: 1px solid #000000;
	border-radius: 10px;
}

.txt{
	display: inline-block;
	width: 100%;
	padding: 0.5em;
	
}

.page{
	 text-align:center;
}

.comment{
	box-sizing: border-box;

	width: 326px;
	height: 175px;
	left: 15px;
	top: 1253px;
	
	background: #FFFFFF;
	border: 1px solid #000000;
	
}


.tag_button{
	box-sizing: border-box;
	
	position: absolute;
	width: 102px;
	height: 32px;
	left: 14px;
	top: 121px;
	
	background: #E3750F;
	border: 1px solid #000000;
	border-radius: 10px;
}

