/* 投稿確認ページの背景 */
.background {
    margin: auto;
    background-size: contain;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 1400px;/* ページによって変更 */
    background-color: rgba(36,36,36,0.8);
}
/* 投稿確認ページの要素 */
.store_confirm_text {
    margin-left: 10px;
    font-size: 28px;
}
.store_confirm_content {
    margin: auto;
    background-color: #FFFFFF;
    border: solid 2px #333333;
    border-radius: 0.75em;
    width: 90%;
}
.store_namekana_box{
    width: 80%;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}
.store_name_box{
    width: 80%;
    margin-left: 20px;
    font-size: 32px;
    border: none;
}
.address_box {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 98%;
    height: auto;
    font-size: 20px;
    white-space: normal;
    border: none;
}
/* 評価のCSS */
.evaluation_text {
    font-size: 20px;
    margin-left: 15px;
}
.evaluation{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.star5_rating{
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCCCCC; /* グレーカラー 自由に設定化 */
    font-size: 40px; /*フォントサイズ 自由に設定化 */
}

.star5_rating:before, .star5_rating:after{
    content: '★★★★★';
}

.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32; /* イエローカラー 自由に設定化 */
}
.star5_rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.star5_rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.star5_rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.star5_rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.star5_rating[data-rate="0"]:after{ width: 0%; } /* 星0 */
/* タグのCSS */
.tag_button{
    box-sizing: border-box;
    width: 101px;
    height: 32px;
    left: 15px;
    top: 31px;
    font-size: 24px;
    color: #FFFFFF;
    background: #E3750F;
    border: 1px solid #000000;
    border-radius: 10px;
}
/* コメントエリアのCSS */
.store_textarea {
    margin: auto;
    width: 95%;
    height: 175px;
}
.img{
    margin: auto;
}
/* 投稿ボタンのCSS */
.post_button {
    margin-left: 80px;
    margin-bottom: 20px;
    background-color: #E3750F;
    color: #FFFFFF;
    font-size: 40px;
    border-radius: 15px;
}
