.backimg{
    position: absolute;
    width: 375px;
    height: 812px;
    left: 0px;
    top: 0px;

    background: url(../img/backimg.png);
}
div.page{
    position: relative;
    width: 375px;
    height: 1471px;

    background: #FCF1D3;
}
div.img {
    position: absolute;
    width: 375px;
    height: 218px;
    left: 0px;
    top: 93px;
}
a.back{
    position: absolute;
    width: 30px;
    height: 39px;
    left: 12px;
    top: 0px;
}
img.img{
    box-sizing: border-box;

    position: absolute;
    width: 376px;
    height: 217px;
    left: 0px;
    top: 1px;

}
a.img{

    position: absolute;
    width: 240px;
    height: 44px;
    left: 12px;
    top: 164px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
div.frame{
    position: absolute;
    width: 375px;
    height: 1160px;
    left: 0px;
    top: 311px;

    background: rgba(36, 36, 36, 0.9);
}
div.info{
    position: absolute;
    width: 345px;
    height: 1100px;
    left: 15px;
    top: 10px;

    background: #FFFFFF;
    border-radius: 10px;
}

.address{
    position: absolute;
    width: 338px;
    height: 111px;
    left: 7px;
    top: 67px;
}
.add{
    position: absolute;
    width: 334px;
    height: 29px;
    left: 4px;
    top: 37px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}
.search{
    position: absolute;
    width: 339px;
    height: 53px;
    left: 3px;
    top: 170px;

    background: #E6E4E4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
a.map{
    position: absolute;
    width: 100px;
    height: 24px;
    left: 118px;
    top: 3px;

    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */


    color: #000000;
}
.star{
    position: absolute;
    width: 331px;
    height: 401px;
    left: 10px;
    top: 233px;

}
.value{

    position: absolute;
    width: 141px;
    height: 36px;
    left: 97px;
    top: 356px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.bigstar{
    position: absolute;
    width: 97px;
    height: 54px;
    left: 67px;
    top: -6px;
}
.bigstar{
    box-sizing: border-box;

    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 7px;

    background: #F6D580;
    border: 1px solid #000000;
}
.btn{
    box-sizing: border-box;

    position: absolute;
    width: 247px;
    height: 68px;
    left: 49px;
    top: 1016px;

    background: #E3750F;
    border: 1px solid #000000;
    border-radius: 10px;
}
.edit{
    position: absolute;
    width: 200px;
    height: 48px;
    left: 20px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
    background-color: transparent;
    border: none;
    outline: none;
}
.text{
    box-sizing: border-box;

    position: absolute;
    width: 314px;
    height: 211px;
    left: 16px;
    top: 790px;

    background: #FFFFFF;
    border: 1px solid #000000;
}
.day{
    position: absolute;
    width: 182px;
    height: 19px;
    left: 155px;
    top: 11px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}
.fday{
    position: absolute;
    width: 190px;
    height: 19px;
    left: 155px;
    top: 36px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

}
.hyouka{
    position: absolute;
    width: 117px;
    height: 34px;
    left: 17px;
    top: 732px;

    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */


    color: #000000;
}
.jyuusyo{
    position: absolute;
    width: 48px;
    height: 29px;
    left: 0px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #000000;
}
.com{
    position: absolute;
    width: 117px;
    height: 34px;
    left: 17px;
    top: 732px;

    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */


    color: #000000;
}
a.tag{
    position: absolute;
    width: 71px;
    height: 34px;
    left: 11px;
    top: 634px;

    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */


    color: #000000;
}
button.tag{
    box-sizing: border-box;

    position: absolute;
    width: 101px;
    height: 32px;
    left: 13px;
    top: 8px;

    background: #E3750F;
    border: 1px solid #000000;
    border-radius: 10px;
}
.tag{
    position: absolute;
    width: 352px;
    height: 53px;
    left: 0px;
    top: 683px;

}
a.hairi{
    position: absolute;
    width: 100px;
    height: 24px;
    left: 17px;
    top: 50px;

    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */


    color: #000000;
}
a.aji{
    position: absolute;
    width: 20px;
    height: 24px;
    left: 17px;
    top: 152px;

    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */


    color: #000000;

}
a.huni{

    position: absolute;
    width: 60px;
    height: 24px;
    left: 17px;
    top: 254px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}
/*アコーディオンタイトル*/
.accordion {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size:1rem;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
    width: 100%;
    left: 157px;
    top: 25px;
}
.accordion-space {
    top: 33px;
    left: 154px;
    height: 30px;
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
}
.accordion:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 45%;
    right: 30px;
    width: 10px;
    height: 10px;
    border-right: 3px solid #4F4F4F;
    border-bottom: 3px solid #4F4F4F;
    transform: translateY(-50%) rotate(45deg);
    transition: .3s;
}

/*　closeというクラスがついたら形状変化　*/
.accordion.close::after{
    transform: rotate(225deg);
}
/*アコーディオンで現れるエリア*/
.box {
    border-top: solid;
    border-width: thin;
    display: none;
    padding: 2em 1em;
}

