@media screen and (max-width:480px){
    h1{
       font-size: 45px;
    }

    .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #e3e2e2;
    border: solid 1.5px black;
    border-radius: 10px;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color:black;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check {
    display: none;
}
.gohant{
    margin: 20px 0 0 0;
}
.mypage{
    margin: 25px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.box {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: 400;
    background: #FFF;
    border: solid 1px black;
    border-radius: 10px;/*角の丸み*/
}
.box p {
    margin: 20px 0px 40px 0px; 
    padding-left: 30px;
    font-size: 25px;
}
 .p1{
    margin: 60px 0px 40px 0px;
    padding-left: 25px;
    font-size: 50px; 
}
hr{
    border: solid 0.7px black;
}
.margin{
    margin: 70px 0 0 0;
}
button{
    width: 180px;
    height:65px;
    border-radius: 10px;
    text-align: center;
    background-color: #E3750F;
    color: #FFF;
    font-size: 30px;
    margin: 10px 0 30px 0;
}
.hoge_button{
    margin: 35px 0 0 0;
    text-align: center;
}
}