.store_list {
    margin-left: auto;
    margin-right: auto;
    width: 357px;
    height: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

.index {
    text-decoration: none;
}

.title_bar {
    height: 100%;
}

.store_image {
    border-radius: 10px 10px 0px 0px;
    width: 357px;
    height: 200px;
}

.store_list_text {
    font-size: 20px;
    color: black;
}

.store_list_text_area {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.store_list_text_date {
    font-size: 20px;
    color: #737373;
}

.store_list_title {
    font-size: 28px;
    color: #FFFFFF;
    position: absolute;
    bottom: 35%;
    left: 10px;
}

.star {
    margin-left: 80%;
    font-size: 25px;
    color: #ffcf32;

}

.value {
    font-size: 20px;
    color: #737373;
}

.re-topB {
    position: relative;
    display: block;
    background-color: rgba(36, 36, 36, 0.8);
    /*丸ボタンの色*/
    color: rgb(255, 255, 255);
    /*三角と文字色*/
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 24px;
    border-radius: 30px;
    padding-top: 30px;
    box-sizing: border-box;
    margin: auto;
}

.search-result {
    font-size: 30px;
    color: #FFFFFF;
}

.not-find {
    font-size: 25px;
    color: #FFFFFF;
}

.emptiness {
    height: 690px;
}
